@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  color: hsl(192, 100%, 9%);
}

header {
  background-color: #fff;
  padding: 1rem 2rem;
  /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); */
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

nav img {
  height: 32px;
}

nav ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
}

nav li {
  font-weight: 600;
}

nav a {
  text-decoration: none;
  color: #4a4a4a;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #00bfff;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 2rem;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f2f6fe;
  padding: 0 20px;
  margin: 0 auto 40px;
  max-width: 1000px;
}

.hero h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #2d314d;
}

.hero p {
  /* font-size: 1.15em; */
  /* color: #4A4A4A; */
  margin-bottom: 2rem;
  opacity: 0.6;
  line-height: 1.5;
}

.hero img {
  max-width: 60%;
  margin-top: 2rem;
}

.contact-form {
  max-width: 600px;
  width: 100%;
  margin-top: 2rem;
}

.contact-form label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #4a4a4a;
  display: block;
  margin-bottom: 0.5rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #f2f6fe;
  padding: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.contact-form textarea {
  height: 200px;
}

.contact-form button {
  background-color: #00bfff;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  padding: 1rem 2rem;
  transition: background-color 0.2s ease;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #4cafff;
}

.features {
  max-width: 1000px;
}

.small-box {
  display: inline-block;
  margin-bottom: -50% !important;
  z-index: 1;
  position: relative;
}

.box {
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin: 40px 0;
  padding: 60px;
}

.center {
  text-align: center;
}
